[*.{kt,kts}]
# standard ktlint rules
indent_size = 4
continuation_indent_size = 8
insert_final_newline = true
max_line_length = 120

# disable wildcard imports
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Android/Compose specific rules
ktlint_code_style = android
ktlint_function_naming_ignore_when_annotated_with = Composable
